<%= stylesheet_link_tag "index.css" %>
<%= stylesheet_link_tag "contenido_staff_types.css" %>
<%= stylesheet_link_tag "resultados_table.css" %>
    
<div class="pagina">
    
    <div class="banner">
        <%= image_tag("sport_performance.png", :alt => "logo") %>
    </div>
    
    <div class="menu">
        <%= render :file => "/public/templates/menu" %>
    </div>
    
    <% puestos = { 'Jefe' => 'Jefe', 'Gerente' => 'Gerente', 'Vendedor' => 'Vendedor' } %>
    
    <div class="contenido">
        <article>

            <h1>Tipos de Empleados</h1>

            <p id="notice">
              <% if notice %>
              <%= notice %><br><br>
              <%= link_to 'Cambiar usuario', root_path, class: 'button'%>
              <hr>
              <% end %>
            </p>
        
        <%= javascript_include_tag "buscar_tipo_empleados" %>

            <h3>Búsqueda</h3>
        <hr>
            
            
            <table class="table">
        
              <tr>
            <%= form_tag do %>
                <td> <%= label_tag "staff_types_lbl", "Búsqueda por puesto ", id: "label" %> </td>
                <td> <%= select_tag 'puesto', options_for_select(puestos) %> </td>
                <td> <%= submit_tag "Buscar", {:type => "button", :id => "boton_buscar_puesto", class: 'button'} %> </td>  
            <% end %>     
            </tr>
            </table> 
            <hr>
        <div id= "respuesta"></div>
        <% if not @tipos.nil? and not @tipos.blank? %>
            <br>
            <h2>Resultados de la búsqueda</h2>
            <table class="datos">
                
                <tr id= "col">
                    <td id= "e"> Puesto </td>
                    <td id= "e"> Salario </td>
                    <td id= "e"> Jornada de Trabajo </td>
                </tr>
                
                    <% @tipos.each do |puesto| %>
                <tr>
                    
                   
                  <td> <%= puesto.position %></td>
                  <td> <%= puesto.pay %></td>
                  <td> <%= puesto.hours %></td>
                    

                  <td> <%= link_to 'Editar', edit_staff_type_path(puesto) %> </td>
                
                <% end %>
                </tr>
              </table>
              <% end %> 
            
        
        
        </article>
    </div>
</div>
