<%= stylesheet_link_tag "index.css" %>
    
<div class="pagina">
    
    <div class="banner">
        <%= image_tag("logo.png", :alt => "logo") %>
    </div>
    
    <div class="menu">
        <%= render :file => "/public/templates/menu" %>
    </div>
    
    <div class="contenido">
        <article>

            <h1>Editing sales_article</h1>

            <%= render 'form' %>

            <%= link_to 'Show', @sales_article %> |
            <%= link_to 'Back', sales_articles_path %>
        </article>
    </div>
</div>
