<%= form_for(@articles_bill) do |f| %>
  <% if @articles_bill.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@articles_bill.errors.count, "error") %> prohibited this articles_bill from being saved:</h2>

      <ul>
      <% @articles_bill.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="forms">
      <table>
        <tr>
          <td><%= f.label 'Factura número', for: "text", id: "label" %></td>
          <% if current_page?(new_articles_bill_path) %>
          <td><%= f.text_field :bills_id, value: session[:id_factura], readonly: 'readonly' %></td>
          <% else %>
          <td><%= f.text_field :bills_id %></td>
          <% end %>
        </tr>

        <tr>
          <td><%= f.label 'Venta a facturar', id: "label" %></td>
          <td><%= f.select :sales_id, @lista_ventas %></td>
        </tr>
      </table>
  </div>
  <hr>
  <div class="actions">
    <%= f.submit 'Agregar mas', class: 'button' %>
    
    <%= link_to "Terminar", bill_path(@id_venta, :format => 'pdf'), class: 'button', :target => '_blank',  data: { confirm: 'Una vez terminada no se podrán agregar más elementos' } %>
  </div>
<% end %>
