<%= stylesheet_link_tag "index.css" %>
    
<div class="pagina">
    
    <div class="banner">
        <%= image_tag("sport_performance.png", :alt => "logo") %>
    </div>
    
    <div class="menu">
        <%= render :file => "/public/templates/menu" %>
    </div>
    
    <div class="contenido">
        <article>

            <h1>Editing provider</h1>

            <hr>
            <%= render 'form' %>
            <hr>

            <br>
            <%= link_to 'Regresar', providers_path, class: 'button' %>
        </article>
    </div>
</div>
