<%= stylesheet_link_tag "index.css" %>
<%= stylesheet_link_tag "contenido_branches.css" %>
    
<div class="pagina">
    
    <div class="banner">
        <%= image_tag("sport_performance.png", :alt => "logo") %>
    </div>
    
    <div class="menu">
        <%= render :file => "/public/templates/menu" %>
    </div>
    
    <div class="contenido">
        <article>
            <h1>Nueva Sucursal</h1>
            <hr>

            <p id="notice">
              <% if notice %>
              <%= notice %><br><br>
              <%= link_to 'Cambiar usuario', root_path, class: 'button'%>
              <hr>
              <% end %>
            </p>
                        
            <%= render 'form' %>
           
        </article>
    </div>
</div>